@tailwind base;
@tailwind components;
@tailwind utilities;

.glassy {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 2px 8px 0 rgba(227, 227, 227, 0.37);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
